<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Enter Email">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="submit">
</form>


<p>

    <a href="/users/auth/google">Google Sign In/ Sign Up</a>
</p>